.cover__link {
  margin: 0;
  margin-top: 92px;
  padding: 0;
  width: 100%;
  min-height: 740px;

  text-decoration: none;
  color: #fff;

  background-image: linear-gradient(0deg, rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url('../../../images/cover-trains.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cover__link:hover {
  background-image: linear-gradient(0deg, rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url('../../../images/cover-trains.jpg');
}

@media screen and (max-width: 1279px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__link {
    min-height: 480px;
    margin-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .cover__link {
    min-height: 200px;
    margin-top: 66px;
  }
}