.places {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 92px;
  gap: 80px;
}

@media screen and (max-width: 1023px) {
  .places {
    padding-top: 88px;
    gap: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    padding-top: 64px;
    gap: 50px;
  }
}